In [1]:
import pandas as pd
df=pd.read_csv("C:/Datasets/gapminder.csv")

In [2]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [3]:
y=df["fertility"]

In [4]:
x=df.drop("fertility",axis =1)

In [5]:
x.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [6]:
x.isna().sum()

population         0
HIV                0
CO2                0
BMI_male           0
GDP                0
BMI_female         0
life               0
child_mortality    0
Region             0
dtype: int64

In [7]:
y.isna().sum()

0

In [8]:
x.dtypes

population         float64
HIV                float64
CO2                float64
BMI_male           float64
GDP                float64
BMI_female         float64
life               float64
child_mortality    float64
Region              object
dtype: object

In [9]:
#not all are numeric
pd.get_dummies(x,columns=["Region"])  #one hot encoding

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_America,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,1,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,3350832.0,0.5,2.489764,26.39123,15317.0,124.2604,76.0,13.0,1,0,0,0,0,0
135,26952719.0,0.1,4.476669,25.32054,3733.0,124.3462,68.7,49.2,0,0,1,0,0,0
136,86589342.0,0.4,1.479347,20.91630,4085.0,121.9367,75.4,26.2,0,1,0,0,0,0
137,13114579.0,13.6,0.148982,20.68321,3039.0,132.4493,52.0,94.9,0,0,0,0,0,1
138,13495462.0,15.1,0.654323,22.02660,1286.0,131.9745,49.0,98.3,0,0,0,0,0,1

In [10]:
x["Region"].unique()

array(['Middle East & North Africa', 'Sub-Saharan Africa', 'America',
       'Europe & Central Asia', 'East Asia & Pacific', 'South Asia'],
      dtype=object)

In [11]:
#dummy encoding (drop one region)
pd.get_dummies(x,columns=["Region"],drop_first=True)

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,3350832.0,0.5,2.489764,26.39123,15317.0,124.2604,76.0,13.0,0,0,0,0,0
135,26952719.0,0.1,4.476669,25.32054,3733.0,124.3462,68.7,49.2,0,1,0,0,0
136,86589342.0,0.4,1.479347,20.91630,4085.0,121.9367,75.4,26.2,1,0,0,0,0
137,13114579.0,13.6,0.148982,20.68321,3039.0,132.4493,52.0,94.9,0,0,0,0,1
138,13495462.0,15.1,0.654323,22.02660,1286.0,131.9745,49.0,98.3,0,0,0,0,1

In [12]:
x= pd.get_dummies(x,columns=["Region"],drop_first=True)

In [13]:
type(x)

pandas.core.frame.DataFrame

In [14]:
x.shape

(139, 13)

In [15]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3, random_state=42)

In [18]:
x.describe()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
count,1.390000e+02,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000
mean,3.549977e+07,1.915612,4.459874,24.623054,16638.784173,126.701914,69.602878,45.097122,0.100719,0.294964,0.071942,0.050360,0.287770
std,1.095121e+08,4.408974,6.268349,2.209368,19207.299083,4.471997,9.122189,45.724667,0.302045,0.457676,0.259327,0.219477,0.454361
min,2.773150e+05,0.060000,0.008618,20.397420,588.000000,117.375500,45.200000,2.700000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.752776e+06,0.100000,0.496190,22.448135,2899.000000,123.232200,62.200000,8.100000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.705130e+06,0.400000,2.223796,25.156990,9938.000000,126.519600,72.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.791973e+07,1.300000,6.589156,26.497575,23278.500000,130.275900,76.850000,74.200000,0.000000,1.000000,0.000000,0.000000,1.000000
max,1.197070e+09,25.900000,48.702062,28.456980,126076.000000,135.492000,82.600000,192.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
scaler=MinMaxScaler()

In [21]:
x_train= scaler.fit_transform(x_train)
x_test= scaler.transform(x_test)

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
model=LinearRegression()

In [24]:
model.fit(x_train,y_train)

LinearRegression()

In [25]:
model.score(x_test,y_test)

0.880326468970407

In [27]:
#prediction
data=pd.DataFrame({"First":[100],"Second":[0.7],"Third":[55],"Fourth":[30],"Fifth":[12000],"Sixth":[200],"Seventh":[70],"Eighth":[130],"Ninth":[0],"Tenth":[0],"Eleventh":[0],"Twelve":[1],"Thirteen":[0]})

In [29]:
data.shape

(1, 13)

In [30]:
data

,First,Second,Third,Fourth,Fifth,Sixth,Seventh,Eighth,Ninth,Tenth,Eleventh,Twelve,Thirteen
0,100,0.7,55,30,12000,200,70,130,0,0,0,1,0

In [31]:
data= scaler.transform(data)

In [32]:
model.predict(data)

array([-0.49384071])

In [33]:
#from sklearn.tree import DecisionTreeRegressor
#model= DecisionTreeRegressor()
#model.fit(x_train,y_train)
#model.score(x_test,y_test)
#model.score(x_train,y_train) // again overfitting

#or change

#model= DecisionTreeRegressor(min_sample_leaf=5)